---
# ############################################### #
# Grid'5000 reservation parameters                #
# ############################################### #

name: discovery-kolla
walltime: "2:00:00"

templates:
  temp1:
    control: 1
    compute: 1
    network: 1
  temp2:
    compute: 2

resources:
  paravance: temp1, temp2
  econome: temp2

# resources:
#   paravance:
#     control: 1
#     compute: 1
#     network: 1
#   parapluie:
#    control: 1

vlans:
  #A noter que l'utilisation d'un kavlan devient implicite puisque nous aurons un kavlan global a recuperer d'un site.
  # Attention il n'y a qu'un kavlan-global par site, donc il faudra bien mentionné un kavlan different dans le yaml.
  rennes: "{type='kavlan-global'}/vlan=1"

# Be less strict on node distribution especially
# when nodes are missing in the reservation
# or not deployed
role_distribution: debug

#enable_monitoring: true
#enable_rally: true

# Enable for Nova to run in /tmp, allowing larger flavors
# to be deployed
enable_nova_tmp: false

# ############################################### #
# Inventory to use                                #
# ############################################### #

# This will describe the topology of your services
inventory: inventories/inventory.sample

# ############################################### #
# docker registry parameters
# ############################################### #
registry:
  ceph: true
  ceph_keyring: /home/discovery/.ceph/ceph.client.discovery.keyring
  ceph_id: discovery
  ceph_rbd: discovery_kolla_registry/datas


# ############################################### #
# Kolla parameteres (globals.yml)                 #
# ############################################### #
kolla:
  kolla_base_distro: "centos"
  kolla_install_type: "source"
  openstack_release: "3.0.0"
  docker_namespace: "beyondtheclouds"
  enable_heat: "no"
